@model IEnumerable<Cruelco_v2.Models.Joke>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Opener)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Punchline)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Opener)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Punchline)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.JokeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.JokeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.JokeId })
        </td>
    </tr>
}

</table>
