@model Cruelco_v2.Models.Joke

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Joke</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Opener)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opener)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Punchline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Punchline)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JokeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
